
  /* #opacity{
    background-color: #0c022627;
  } */

  div.content {
    display: none;
    margin-left: 7rem;
    padding: 1px 9px;
    height: 100vh;
}



    .fa {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
    }
    #fas{
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        color:#ff0008;}
    #fas1{
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        color:#ff0008
    }
    #fas2{
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        color:#0622bc;
    }
    #fas3{
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        color:#0622bc;
    }
    #fas4{
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 24px;
        color:#0622bc;
    }
   
    
    
    .main-menu:hover,nav.main-menu.expanded {
    width:250px;
    overflow:visible;
    }
    
    .main-menu {
        background:#0c0226;
        /* border-right: 1px solid #e5e5e5; */
        position: absolute;
        top: 0;
        bottom: 0;
        /* height: 1120px; */
        left: 0;
        width: 100px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .3s linear;
        -webkit-transform: translateZ(0) scale(1,1);
        z-index: 1000;
        position: fixed;
    }
    
    
    .main-menu>ul {
    
    padding: 0;
    }
    
    .main-menu li {
    position:relative;
    display:block;
    width:250px;
    }
    
    .main-menu li>a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #ffffff;
        background-color: #ffffff;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1,1);
        -webkit-transition: all .4s linear;
        transition: all .0.1s linear;
        border-radius: 17px;
        text-align: center;
        margin: 0 auto;
        height: 40px;
    }
    
    .main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:start;
    vertical-align:middle;
    font-size:18px;
    
    }
    
    .main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:130px;
    font-family: 'Titillium Web', sans-serif;
    }
    .main-menu .nav-text:hover{
        cursor: pointer;
    }
    
    .main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom: 50px;
    margin-top: 50px;
   

    }
    
    .no-touch .scrollable.hover {
    overflow-y:hidden;
    }
    
    .no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
    }
    .nav-text:hover{
        color: #fff;
    }
    
    a:hover,a:focus {
    text-decoration:none;
    }
    
    nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
    }
    
    nav ul, nav li {
        outline: 0;
        margin: 0;
        padding: 0;
        border: #212121;
        padding-top: 38px;
        /* padding-bottom: 50px; */
    }
    .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#0400de28;
    }
    .area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
    }
    @font-face {
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 300;
      src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
    }

    #NameTrener{
font-size: 1.1em;
color: #fff;

    }
    #imgdiv{
        
        display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    }
#img-trener{

border: #140273 4px solid;
border-radius: 50%;
width: 60%;
height: 70%;

}
#addStudentDiv{
    display: none;
}
#AddTaskDiv{
    display: none;
}
#FeedbackDiv{
    display: none;
}
#formi{
    display: flex;
    flex-wrap: wrap;
}
#formi div{
    margin-right: 10px;
}

.div_contener_home{
    display: flex;
    text-align: center;
    justify-content: center;
 
    flex-wrap: wrap;
    height: 100%;

}

/* #news{
border: #0b2be370 solid 3px;
width: 400px;
height: 40vh;
background: #2121218c;
border-radius: 30px;
margin-right: 4em;

}
#notess {
    border: #0b2be370 solid 3px;
    width: 400px;
    height: 40vh;
    background:  #2121218c;
    border-radius: 30px;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
}
  */
  
  .divNN {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 37%;
    background-color: aliceblue;
    margin: 1em 3em;
    height: 68%;
    border-radius: 32px;
}
.divNN:hover {
    box-shadow: 0 16px 32px 0#071770c6;
  }
  .divNN1 {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
    width: 37%;
    background-color: aliceblue;
    margin: 1em 3em;
    height: 68%;
    border-radius: 32px;
}
.divNN1:hover {
    box-shadow: 0 16px 32px 0#071770c6;
  }
 #notess {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    justify-content: center;
    /* width: 90%; */
}
#writeNote {
   
    height: 120px;
    width: 100%;
}
body{
    background-image: url(backbody.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  css profile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#profile {
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
    
    /* box-shadow: 3px 8px 22px 0 rgb(26 35 133);
    transition: 0.5s; */

}


#profile1 {  
    /* padding: 20px;
    width: 88%;
    height: 70vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #05177a 6px solid;
    /* border-radius: 37px; */
    width: 360px;
    background: #081037;
    box-shadow: 3px 8px 22px 0 rgb(26 35 133);
    transition: 0.5s;
    margin-bottom: 29px;
   
}
#DivProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #05177a 6px solid;
    /* border-radius: 37px; */
    width: 360px;
    background: #081037;
padding: 5px;
box-shadow: 3px 8px 22px 0 rgb(26 35 133);
transition: 0.5s;
}
.pro {

    /* padding: 5px;
    margin: auto;
    font-size: 19px;
    color: #859cb8; */
    border-bottom: #3f51b55c solid;
    margin-bottom: 9px;
    padding-bottom: 11px;
}

/* .inp {
    margin-left: 20px;
    border-radius: 10%;
} */
#imgpro2 {
    /* border-radius: 22%;
    height: 100;
    width: 67%;
    height: 70%; */
    height: 274px;
    width: 274px;
   
    margin-top: 10px;
}
#mgpro22{
    
    height: 274px;
    width: 274px;
    margin-top: 10px;
}

.colorpro {
    color: aliceblue;
    font-weight: 700;

}
#pro44{
    display: none;
}
#proimg {

    display: flex;
    flex-direction: row;
    align-items: center;
    width: 274px;
    /* height: 274px; */
    justify-content: center;
}


/* #profile1:hover {
    box-shadow: 1px 19px 34px 0#021665c3;
  } */
.inputcolor{
    color: #e2e2e28b;
}
  #proimg1 {
    /* padding: 42px;
    box-shadow: #3f51b5 1px 4px 20px;
    background: #030339; */
    width: 100%;
    display: grid;
    padding: 14px;
}
#profilebutton{
    background-color: #012e61f5;
    color: #fff;
    border: none;
    border-radius: 1em;
    width: 8em;
    height: 2.5em;
    font-size: 1em;
    margin: 0.5em;
}
#hrrr{
    background-color: #140273;
    height: 2px;
}
/* .hrhr{
    font-size: 100px;
    background-color:#fff;
} */

#DivProfile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #05177a 6px solid;
    /* border-radius: 37px; */
    width: 350px;
    background: #081037;
padding: 5px;

}
#texttt{
    color: #e2e2e2;
    font-weight: 700;
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<end profile>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */




#imgnews{
    height:40vh;
}

#hrbor{
    border-bottom: #0c0226 2px solid;
}















/* @media screen and (max-width:900px) {
    #profile1 {
    display: block;
    justify-content: space-evenly;
    background-color:#0c0226;
    padding: 1vh;
    border: 2px solid black;
    width: 65%;
    margin-left : 12%;
    margin-top: 12%;
    border-radius: 46px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    justify-content: space-evenly;
    background-color:#0c0226;
    padding: 1vh;
    border: 2px solid black;
    width: 65%;
    margin-left: 12%;
    margin-top: 12%;
    border-radius: 46px;
    box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    }
    
}
@media screen and (max-width:392px) {
    div.content {
        display: none;
        margin-left: 92px;
      padding: 1px 16px;
      height: 100vh;
    }
}
@media screen and (max-width:360px) {
    div.content {
        display: none;
        margin-left: 82px;
      padding: 1px 16px;
      height: 100vh;
    }
} */


/* 
div.content {
    display: none;
    margin-left: 104px;
    padding: 1px 8px;
   
    height: 100vh;
} */
